.custom-button {
  font-size: 2rem;
  width: auto;
  height: 5rem;
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );
  color: #fff;
  border-radius: 100px;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  transition: all 0.2s;

  &:hover,
  &:active {
    background-image: linear-gradient(
      to left,
      $color-primary-light,
      $color-primary-dark
    );
    transform: translateY(-3px);
    box-shadow: $shadow-light;
  }

  &:focus {
    outline: none;
  }
}
