.header {
  height: 7vh;
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;

  .logo-container {
    // height: 5%;
    // width: 2rem;
    // fill: white;

    img {
      width: 50%;
      height: 100%;
    }
  }
  .options {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .option {
      font-size: 2rem;
      color: $color-grey-dark-1;
      padding: 0 15px;
      cursor: pointer;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 100%;
        background-color: $color-primary;
        transform: scaleX(0);
        transition: transform 0.2s;
      }

      &:hover::before {
        transform: scaleX(1);
      }
    }
  }
}
